 <!-- Sky -->
<a-sky color="#99dcff" rotation="0 0 180" src="assets/img/sky2.jpg"></a-sky>

<!-- Floor -->
<a-circle color="#fff" radius="1.75" position="0 0 0" rotation="-90 0 0" opacity="0.75"></a-circle>
<a-plane static-body scale="6 6 1" position="0 0 0" rotation="-90 0 0" visible="false"></a-plane>

<a-image id="promotion1" position="-60 0 0" rotation="0 90 0" scale="0.9 0.9 0.9" width="45" height="25"></a-image>
<a-image id="promotion2" position="-60 25 0" rotation="0 90 0" scale="0.9 0.9 0.9" width="45" height="25"></a-image>